.booking-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.booking-logo {
  text-align: left;
}
.booking-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.booking-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.booking-nav12 {
  text-decoration: none;
}
.booking-nav22 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.booking-nav32 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.booking-nav42 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.booking-nav52 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.booking-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.booking-register {
  text-decoration: none;
}
.booking-burger-menu {
  display: none;
}
.booking-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.booking-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.booking-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.booking-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.booking-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.booking-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.booking-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.booking-nav121 {
  margin-bottom: var(--dl-space-space-unit);
}
.booking-nav221 {
  margin-bottom: var(--dl-space-space-unit);
}
.booking-nav321 {
  margin-bottom: var(--dl-space-space-unit);
}
.booking-nav421 {
  margin-bottom: var(--dl-space-space-unit);
}
.booking-nav521 {
  margin-bottom: var(--dl-space-space-unit);
}
.booking-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.booking-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.booking-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.booking-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.booking-hero {
  background-size: cover;
  background-color: transparent;
  background-image: url("/37869736_642347589482560_7317888501536522240_n-1500w.webp");
}
.booking-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.booking-hero-heading {
  max-width: 800px;
  text-align: center;
}
.booking-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-custom-primary2);
}
.booking-container2 {
  width: 100%;
}
.booking-container3 {
  display: contents;
}
.booking-container4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.booking-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.booking-nav122 {
  text-decoration: none;
}
.booking-nav222 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.booking-nav322 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.booking-nav422 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.booking-nav522 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.booking-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.booking-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 1200px) {
  .booking-banner {
    padding-top: 48px;
  }
}
@media(max-width: 991px) {
  .booking-hero {
    flex-direction: column;
  }
  .booking-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .booking-hero-heading {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .booking-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .booking-desktop-menu {
    display: none;
  }
  .booking-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .booking-nav121 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .booking-nav221 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .booking-nav321 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .booking-nav421 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .booking-nav521 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .booking-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .booking-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .booking-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .booking-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .booking-container5 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .booking-text2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .booking-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .booking-mobile-menu1 {
    padding: 16px;
  }
  .booking-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .booking-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .booking-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .booking-footer {
    padding: var(--dl-space-space-unit);
  }
  .booking-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .booking-container5 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .booking-text2 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
