.gallery-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.gallery-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.gallery-logo {
  text-align: left;
}
.gallery-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.gallery-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.gallery-nav12 {
  text-decoration: none;
}
.gallery-nav22 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-nav32 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-nav42 {
  margin-left: var(--dl-space-space-unit);
}
.gallery-nav52 {
  margin-left: var(--dl-space-space-unit);
}
.gallery-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gallery-register {
  text-decoration: none;
}
.gallery-burger-menu {
  display: none;
}
.gallery-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.gallery-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.gallery-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gallery-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.gallery-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.gallery-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.gallery-nav121 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-nav221 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-nav321 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-nav421 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-nav521 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gallery-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.gallery-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.gallery-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.gallery-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: flex-start;
  justify-content: center;
}
.gallery-hero1 {
  background-size: cover;
  background-color: transparent;
  background-image: url("/37869736_642347589482560_7317888501536522240_n-1500w.webp");
}
.gallery-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.gallery-hero-heading {
  max-width: 800px;
  text-align: center;
}
.gallery-hero-sub-heading {
  font-size: 18px;
  text-align: center;
}
.gallery-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.gallery-hero-button1 {
  width: 149px;
  height: 45px;
  font-size: 20px;
  text-decoration: none;
}
.gallery-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-custom-primary2);
}
.gallery-container2 {
  width: 1130px;
  height: 721px;
}
.gallery-container3 {
  display: contents;
}
.gallery-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-container4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.gallery-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.gallery-nav222 {
  margin-left: var(--dl-space-space-unit);
}
.gallery-nav322 {
  margin-left: var(--dl-space-space-unit);
}
.gallery-nav422 {
  margin-left: var(--dl-space-space-unit);
}
.gallery-nav522 {
  margin-left: var(--dl-space-space-unit);
}
.gallery-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.gallery-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gallery-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gallery-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.gallery-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.gallery-icon14 {
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .gallery-hero1 {
    flex-direction: column;
  }
  .gallery-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .gallery-hero-heading {
    text-align: center;
  }
  .gallery-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .gallery-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gallery-desktop-menu {
    display: none;
  }
  .gallery-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gallery-nav121 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-nav221 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-nav321 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-nav421 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-nav521 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gallery-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .gallery-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gallery-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gallery-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .gallery-container5 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .gallery-text16 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .gallery-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .gallery-mobile-menu1 {
    padding: 16px;
  }
  .gallery-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .gallery-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-btn-group {
    flex-direction: column;
  }
  .gallery-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .gallery-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .gallery-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .gallery-container5 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .gallery-text16 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
